.gmView .gm{
    float: left;
    margin: 10px;
	width: 198px;
	height: 198px;
	background-repeat: no-repeat;
	background-size: 198px;
	background-position: center;
	color: #FFF;
	line-height: 300px;
	font-size: 16px;
	text-align: center;
}
